.boxbase{
    width: 100%;
    display: flex;
    padding: 1rem;
}

.boxcenter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}

.boxcenterY{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
}