.title {
  font-size: clamp(2rem, 2.5vw, 5rem);
  font-weight: 700;
  color: var(--color-text);
}

.subtitle {
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-weight: 600;
  color: var(--color-text);
}

.paragraph {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  color: var(--color-muted);
}